stepfunctions/AccountDeletionStateMachine.asl.json
{
  "Comment": "アカウント削除自動化 - 90日経過したアカウントを削除",
  "StartAt": "PrepareCurrentDate",
  "States": {
    "PrepareCurrentDate": {
      "Type": "Pass",
      "Comment": "現在日時と90日前の日時を計算",
      "Output": {
        "currentTimestamp": "{% $now() %}",
        "deletionThresholdTimestamp": "{% $toMillis($now()) - (90 * 24 * 60 * 60 * 1000) %}",
        "executionId": "{% $states.context.Execution.Id %}"
      },
      "Next": "GetStripeCustomersWithDeletionFlag"
    },

    "GetStripeCustomersWithDeletionFlag": {
      "Type": "Task",
      "Comment": "Stripe APIから削除フラグ付きの顧客リストを取得",
      "Resource": "arn:aws:states:::http:invoke",
      "Parameters": {
        "ApiEndpoint": "https://api.stripe.com/v1/customers",
        "Method": "GET",
        "Authentication": {
          "ConnectionArn": "arn:aws:events:ap-northeast-1:002689294103:connection/Stripe-Production-Connection/b711004d-52d7-4b35-8b29-9f33e9e3a054"
        },
        "QueryParameters": {
          "limit": "100"
        }
      },
      "ResultPath": "$.stripeCustomers",
      "Retry": [
        {
          "ErrorEquals": [
            "States.Http.StatusCode.429",
            "States.Http.StatusCode.503"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "FilterExpiredAccounts"
    },

    "FilterExpiredAccounts": {
      "Type": "Pass",
      "Comment": "90日以上経過したアカウントをフィルター",
      "Output": {
        "expiredCustomers": "{% $states.input.stripeCustomers.ResponseBody.data[\n          metadata.deletionRequestedAt and \n          $toMillis(metadata.deletionRequestedAt) < $states.input.deletionThresholdTimestamp\n        ].{\"customerId\": id, \"deletionRequestedAt\": metadata.deletionRequestedAt} %}",
        "currentTimestamp": "{% $states.input.currentTimestamp %}",
        "executionId": "{% $states.input.executionId %}"
      },
      "Next": "CheckExpiredAccountsExist"
    },

    "CheckExpiredAccountsExist": {
      "Type": "Choice",
      "Comment": "削除対象のアカウントが存在するか確認",
      "Choices": [
        {
          "Variable": "{% $count($states.input.expiredCustomers) %}",
          "NumericGreaterThan": 0,
          "Next": "ProcessEachExpiredAccount"
        }
      ],
      "Default": "NoAccountsToDelete"
    },

    "NoAccountsToDelete": {
      "Type": "Succeed",
      "Comment": "削除対象のアカウントなし"
    },

    "ProcessEachExpiredAccount": {
      "Type": "Map",
      "Comment": "各削除対象アカウントを処理",
      "ItemsPath": "{% $states.input.expiredCustomers %}",
      "MaxConcurrency": 5,
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "SetAccountContext",
        "States": {
          "SetAccountContext": {
            "Type": "Pass",
            "Comment": "アカウントコンテキストを設定",
            "Output": {
              "customerId": "{% $.customerId %}",
              "deletionRequestedAt": "{% $.deletionRequestedAt %}",
              "currentTimestamp": "{% $states.context.Execution.Input.currentTimestamp %}",
              "executionId": "{% $states.context.Execution.Input.executionId %}"
            },
            "Next": "DeleteCognitoUsers"
          },

          "DeleteCognitoUsers": {
            "Type": "Task",
            "Comment": "Cognitoユーザーを削除",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "siftbeam-delete-cognito-users",
              "Payload": {
                "customerId": "{% $states.input.customerId %}",
                "executionId": "{% $states.input.executionId %}"
              }
            },
            "ResultPath": "$.cognitoResult",
            "Retry": [
              {
                "ErrorEquals": ["States.TaskFailed"],
                "IntervalSeconds": 2,
                "MaxAttempts": 3,
                "BackoffRate": 2.0
              }
            ],
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "ResultPath": "$.cognitoError",
                "Next": "LogCognitoError"
              }
            ],
            "Next": "DeleteDynamoDBRecords"
          },

          "LogCognitoError": {
            "Type": "Pass",
            "Comment": "Cognito削除エラーをログ",
            "Output": {
              "error": "Failed to delete Cognito users",
              "customerId": "{% $states.input.customerId %}",
              "errorDetails": "{% $states.input.cognitoError %}"
            },
            "Next": "DeleteDynamoDBRecords"
          },

          "DeleteDynamoDBRecords": {
            "Type": "Task",
            "Comment": "DynamoDBレコードを削除",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "siftbeam-delete-dynamodb-records",
              "Payload": {
                "customerId": "{% $states.input.customerId %}",
                "executionId": "{% $states.input.executionId %}"
              }
            },
            "ResultPath": "$.dynamoResult",
            "Retry": [
              {
                "ErrorEquals": ["States.TaskFailed"],
                "IntervalSeconds": 2,
                "MaxAttempts": 3,
                "BackoffRate": 2.0
              }
            ],
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "ResultPath": "$.dynamoError",
                "Next": "LogDynamoError"
              }
            ],
            "Next": "DeleteS3Objects"
          },

          "LogDynamoError": {
            "Type": "Pass",
            "Comment": "DynamoDB削除エラーをログ",
            "Output": {
              "error": "Failed to delete DynamoDB records",
              "customerId": "{% $states.input.customerId %}",
              "errorDetails": "{% $states.input.dynamoError %}"
            },
            "Next": "DeleteS3Objects"
          },

          "DeleteS3Objects": {
            "Type": "Task",
            "Comment": "S3オブジェクトを削除",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "siftbeam-delete-s3-objects",
              "Payload": {
                "customerId": "{% $states.input.customerId %}",
                "executionId": "{% $states.input.executionId %}"
              }
            },
            "ResultPath": "$.s3Result",
            "Retry": [
              {
                "ErrorEquals": ["States.TaskFailed"],
                "IntervalSeconds": 2,
                "MaxAttempts": 3,
                "BackoffRate": 2.0
              }
            ],
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "ResultPath": "$.s3Error",
                "Next": "LogS3Error"
              }
            ],
            "Next": "DeleteStripeCustomer"
          },

          "LogS3Error": {
            "Type": "Pass",
            "Comment": "S3削除エラーをログ",
            "Output": {
              "error": "Failed to delete S3 objects",
              "customerId": "{% $states.input.customerId %}",
              "errorDetails": "{% $states.input.s3Error %}"
            },
            "Next": "DeleteStripeCustomer"
          },

          "DeleteStripeCustomer": {
            "Type": "Task",
            "Comment": "Stripeカスタマーを削除",
            "Resource": "arn:aws:states:::http:invoke",
            "Parameters": {
              "ApiEndpoint": "{% 'https://api.stripe.com/v1/customers/' & $states.input.customerId %}",
              "Method": "DELETE",
              "Authentication": {
                "ConnectionArn": "arn:aws:events:ap-northeast-1:002689294103:connection/Stripe-Production-Connection/b711004d-52d7-4b35-8b29-9f33e9e3a054"
              }
            },
            "ResultPath": "$.stripeResult",
            "Retry": [
              {
                "ErrorEquals": [
                  "States.Http.StatusCode.429",
                  "States.Http.StatusCode.503"
                ],
                "BackoffRate": 2,
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "JitterStrategy": "FULL"
              }
            ],
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "ResultPath": "$.stripeError",
                "Next": "LogStripeError"
              }
            ],
            "Next": "AccountDeletionComplete"
          },

          "LogStripeError": {
            "Type": "Pass",
            "Comment": "Stripe削除エラーをログ",
            "Output": {
              "error": "Failed to delete Stripe customer",
              "customerId": "{% $states.input.customerId %}",
              "errorDetails": "{% $states.input.stripeError %}"
            },
            "Next": "AccountDeletionComplete"
          },

          "AccountDeletionComplete": {
            "Type": "Pass",
            "Comment": "アカウント削除完了",
            "Output": {
              "status": "completed",
              "customerId": "{% $states.input.customerId %}",
              "deletionRequestedAt": "{% $states.input.deletionRequestedAt %}",
              "deletedAt": "{% $states.input.currentTimestamp %}",
              "cognitoResult": "{% $states.input.cognitoResult %}",
              "dynamoResult": "{% $states.input.dynamoResult %}",
              "s3Result": "{% $states.input.s3Result %}",
              "stripeResult": "{% $states.input.stripeResult %}"
            },
            "End": true
          }
        }
      },
      "ResultPath": "$.deletionResults",
      "Next": "DeletionProcessComplete"
    },

    "DeletionProcessComplete": {
      "Type": "Succeed",
      "Comment": "全アカウント削除処理完了"
    }
  },
  "QueryLanguage": "JSONata"
}

