stepfunctions/DailyStorageAggregator.asl.json
{
  "Comment": "日次ストレージ使用量集計 - Stripe APIで顧客リストを取得",
  "StartAt": "PrepareDate",
  "States": {
    "PrepareDate": {
      "Type": "Pass",
      "Comment": "現在の日付を準備",
      "Output": {
        "currentDate": "{% $substring($now(), 0, 10) %}",
        "billingMonth": "{% $substring($now(), 0, 7) %}",
        "calculatedAt": "{% $now() %}"
      },
      "Next": "GetStripeCustomers"
    },

    "GetStripeCustomers": {
      "Type": "Task",
      "Comment": "Stripe APIからアクティブな顧客リストを取得",
      "Resource": "arn:aws:states:::http:invoke",
      "Parameters": {
        "ApiEndpoint": "https://api.stripe.com/v1/customers",
        "Method": "GET",
        "Authentication": {
          "ConnectionArn": "arn:aws:events:ap-northeast-1:002689294103:connection/Stripe-Production-Connection/b711004d-52d7-4b35-8b29-9f33e9e3a054"
        },
        "QueryParameters": {
          "limit": "100"
        }
      },
      "ResultPath": "$.stripeCustomers",
      "Retry": [
        {
          "ErrorEquals": [
            "States.Http.StatusCode.429",
            "States.Http.StatusCode.503"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "ExtractCustomerIds"
    },

    "ExtractCustomerIds": {
      "Type": "Pass",
      "Comment": "顧客IDのリストを抽出",
      "Output": {
        "customerIds": "{% $states.input.stripeCustomers.ResponseBody.data[].id %}",
        "currentDate": "{% $states.input.currentDate %}",
        "billingMonth": "{% $states.input.billingMonth %}",
        "calculatedAt": "{% $states.input.calculatedAt %}"
      },
      "Next": "CheckCustomersExist"
    },

    "CheckCustomersExist": {
      "Type": "Choice",
      "Comment": "顧客が存在するか確認",
      "Choices": [
        {
          "Variable": "{% $count($states.input.customerIds) %}",
          "NumericGreaterThan": 0,
          "Next": "ProcessEachCustomer"
        }
      ],
      "Default": "NoCustomersFound"
    },

    "NoCustomersFound": {
      "Type": "Succeed",
      "Comment": "顧客が見つからなかった場合は正常終了"
    },

    "ProcessEachCustomer": {
      "Type": "Map",
      "Comment": "各顧客のストレージ使用量を並列で集計",
      "ItemsPath": "{% $states.input.customerIds %}",
      "MaxConcurrency": 10,
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "SetCustomerContext",
        "States": {
          "SetCustomerContext": {
            "Type": "Pass",
            "Comment": "顧客コンテキストを設定",
            "Output": {
              "customerId": "{% $ %}",
              "currentDate": "{% $states.context.Execution.Input.currentDate %}",
              "billingMonth": "{% $states.context.Execution.Input.billingMonth %}",
              "calculatedAt": "{% $states.context.Execution.Input.calculatedAt %}"
            },
            "Next": "ListInputFiles"
          },

          "ListInputFiles": {
            "Type": "Task",
            "Comment": "service/input配下のファイルをリスト",
            "Resource": "arn:aws:states:::aws-sdk:s3:listObjectsV2",
            "Parameters": {
              "Bucket": "siftbeam",
              "Prefix": "{% 'service/input/' & $states.input.customerId & '/' %}"
            },
            "ResultPath": "$.inputObjects",
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "ResultPath": "$.inputError",
                "Comment": "エラーが発生しても続行",
                "Next": "ListOutputFiles"
              }
            ],
            "Next": "ListOutputFiles"
          },

          "ListOutputFiles": {
            "Type": "Task",
            "Comment": "service/output配下のファイルをリスト",
            "Resource": "arn:aws:states:::aws-sdk:s3:listObjectsV2",
            "Parameters": {
              "Bucket": "siftbeam",
              "Prefix": "{% 'service/output/' & $states.input.customerId & '/' %}"
            },
            "ResultPath": "$.outputObjects",
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "ResultPath": "$.outputError",
                "Comment": "エラーが発生しても続行",
                "Next": "AggregateStorageData"
              }
            ],
            "Next": "AggregateStorageData"
          },

          "AggregateStorageData": {
            "Type": "Pass",
            "Comment": "ストレージデータを集計",
            "Output": {
              "customerId": "{% $states.input.customerId %}",
              "date": "{% $states.input.currentDate %}",
              "totalStorageBytesInput": "{% $states.input.inputObjects.Contents ? $sum($states.input.inputObjects.Contents[].Size) : 0 %}",
              "totalStorageBytesOutput": "{% $states.input.outputObjects.Contents ? $sum($states.input.outputObjects.Contents[].Size) : 0 %}",
              "totalStorageBytes": "{% ($states.input.inputObjects.Contents ? $sum($states.input.inputObjects.Contents[].Size) : 0) + ($states.input.outputObjects.Contents ? $sum($states.input.outputObjects.Contents[].Size) : 0) %}",
              "fileCountInput": "{% $states.input.inputObjects.Contents ? $count($states.input.inputObjects.Contents) : 0 %}",
              "fileCountOutput": "{% $states.input.outputObjects.Contents ? $count($states.input.outputObjects.Contents) : 0 %}",
              "totalFileCount": "{% ($states.input.inputObjects.Contents ? $count($states.input.inputObjects.Contents) : 0) + ($states.input.outputObjects.Contents ? $count($states.input.outputObjects.Contents) : 0) %}",
              "billingMonth": "{% $states.input.billingMonth %}",
              "billingStatus": "pending",
              "calculatedAt": "{% $states.input.calculatedAt %}"
            },
            "Next": "SaveToDynamoDB"
          },

          "SaveToDynamoDB": {
            "Type": "Task",
            "Comment": "DynamoDBに集計結果を保存",
            "Resource": "arn:aws:states:::dynamodb:putItem",
            "Parameters": {
              "TableName": "siftbeam-storage-usage-daily",
              "Item": {
                "customerId": {
                  "S": "{% $states.input.customerId %}"
                },
                "date": {
                  "S": "{% $states.input.date %}"
                },
                "totalStorageBytesInput": {
                  "N": "{% $string($states.input.totalStorageBytesInput) %}"
                },
                "totalStorageBytesOutput": {
                  "N": "{% $string($states.input.totalStorageBytesOutput) %}"
                },
                "totalStorageBytes": {
                  "N": "{% $string($states.input.totalStorageBytes) %}"
                },
                "fileCountInput": {
                  "N": "{% $string($states.input.fileCountInput) %}"
                },
                "fileCountOutput": {
                  "N": "{% $string($states.input.fileCountOutput) %}"
                },
                "totalFileCount": {
                  "N": "{% $string($states.input.totalFileCount) %}"
                },
                "billingMonth": {
                  "S": "{% $states.input.billingMonth %}"
                },
                "billingStatus": {
                  "S": "{% $states.input.billingStatus %}"
                },
                "calculatedAt": {
                  "S": "{% $states.input.calculatedAt %}"
                }
              }
            },
            "ResultPath": null,
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "ResultPath": "$.dynamoError",
                "Comment": "DynamoDB保存失敗をログに記録",
                "Next": "LogSaveError"
              }
            ],
            "End": true
          },

          "LogSaveError": {
            "Type": "Pass",
            "Comment": "エラーをログに記録して終了",
            "Output": {
              "error": "Failed to save to DynamoDB",
              "customerId": "{% $states.input.customerId %}",
              "errorDetails": "{% $states.input.dynamoError %}"
            },
            "End": true
          }
        }
      },
      "ResultPath": "$.processingResults",
      "Next": "AggregationComplete"
    },

    "AggregationComplete": {
      "Type": "Succeed",
      "Comment": "日次集計完了"
    }
  },
  "QueryLanguage": "JSONata"
}

